.about::before {
    background-image:linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5) ),
    url("../media/images/ps.jpg");
}

.leading-img {
    display: block;
    height: auto;
}

.profile {
    border: 3px solid white;
    border-radius: 50%;
}