.splash::before {
    background-image:linear-gradient( rgba(92, 77, 66, 0.7), rgba(92, 77, 66, 0.2) ),
    url("../media/images/nagsheadnc.jpg");
}

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
