:root {
    --side-paddings: 20%;
    --nav-paddings: 10%
}

.content {
    text-align: center;
    justify-content: center;
    padding-left: var(--side-paddings);
    padding-right: var(--side-paddings);
    overflow: hidden;
    position: relative;
}

.content::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    /* background-image: should be specified in page CSS */
    display: block;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100%;
}


h1 {
    color: white;
    font-weight: 700;
    padding-top: 50px;
    text-transform: uppercase;
}

a {
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}

hr {
    width: 10%;
    margin: auto;
}

.frame-parent {
    display: flex;
    justify-content: center;
}

.bg-linkedin {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 119, 181, var(--tw-bg-opacity));
}