:root {
    --side-paddings: 20%;
    --nav-paddings: 10%
}

.content {
    text-align: center;
    justify-content: center;
    padding-left: var(--side-paddings);
    padding-right: var(--side-paddings);
    overflow: auto;
    position: relative;
}

.content::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    /* background-image: should be specified in page CSS */
    display: block;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100%;
}


h1 {
    color: white;
    font-weight: 700;
    padding-top: 50px;
    font-size: 4rem;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    padding: 10px;
    color: white;
}

p {
    padding: 10px;
    font-size: 1.5rem;
    color:white;
}

a {
    padding: 10px;
    font-size: 1.5rem;
    color: white;
}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 40px;
}

div.card h2.card-header {
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    font-size: 40px;
}

div.card p.card-container {
    background-color: rgba(100,100,100,0.7);
}

.leading-img {
    display: block;
    width: 400px;
    height: auto;
    margin: 3rem auto;
}

.profile {
    border: 3px solid #ee3e0d;
    border-radius: 50%;
}

.frame-parent {
    display: flex;
    justify-content: center;
}