#navigation {
  overflow: hidden;
  padding-left: var(--nav-paddings);
  padding-right: var(--nav-paddings);
  /* background-color: rgba(0,0,0,0.0); */
}

#navigation li {
  float: right;
}

#navigation li a {
  display: block;
  color: #e0e0e0;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
}


#navigation .left {
  float: left;
}

#navigation .left a {
  font-size: 1.5rem;
  font-weight: 700;
}

#navigation li a:hover {
    color: lightgrey;
}

#navigation li a .active {
  background-color: #04AA6D;
}
